<%= turbo_frame_tag 'sign_up_or_log_in' do %>
  <div class='d-flex flex-column align-items-center my-5'>
    <div class="m-3">
      <a href='<%= user_session_path %>' class='btn rounded p-2 px-5' style='color: rgb(0 0 0 / 55%); background: #eeeeee'>Log In</a>

      <a class='btn rounded p-2 px-5 mx-3' style='color: #2f5aa2; background: #e2eaf7'>Register</a>
    </div>

    <div style='width: 45%' data-turbo="false">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="text-center mb-3">
          <p>Sign up with:</p>

          <button type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>

          <button type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>

          <button type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>

          <button type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>

        <p class="text-center">or:</p>

        <div data-mdb-input-init class="form-outline mb-4">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          
          <%= f.label :email, class: 'form-label' %>
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>

          <%= f.label :password, class: 'form-label' %>

          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control' %>
          
          <%= f.label :password_confirmation, class: 'form-label' %>
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4" style="margin-left: 10rem; width: 50%">Register</button>
      <% end %>
    </div>
  </div>
<% end %>
