<%# if any changes made here, also update post_html in app/javascript/src/fetch_posts.js %>

<div class='d-flex justify-content-center py-3' style='padding-bottom: 5px;'>
  <div class="card" style="width: 60rem">
    <div class="card-body">
      <h5 class="card-title">
        <img src='<%= url_for(post.owner.avatar.image) %>' width="30" height="30" class='rounded'>

        <span style='margin-left: 8px'> <%= post.owner.user_name %> </span>
      </h5>

      <% if post.image.attached? %>
        <img class='my-3' src='<%=url_for(post.image)%>' width='900' height='500'>
      <% end %>

      <p class="card-text mt-3" style='margin-left: 9px; max-height: 30rem; overflow: auto'> <%= post.text %> </p>

      <hr>

      <% like_value = post.like_value(current_user) %>

      <div class='d-flex'>
        <div>
          <span id='likes-count-<%= post.id %>'> <%= post.likes_count %> </span>

          <i
            style='margin-right: 5px;'
            data-action='click->posts#<%= like_value == 1 ? 'unliked': 'liked'%>'
            class="posts-clickable fa-regular fa-thumbs-up <%= 'posts-animate-liked' if like_value == 1 %> <%= 'posts-disabled' if like_value == -1 %>"
            post-id="<%= post.id %>"
            id="like-<%= post.id %>"
            btn-type='like'
          ></i>
        </div>

        <div>
          <i
            class="posts-clickable fa-regular fa-thumbs-down <%= 'posts-animate-liked' if like_value == -1 %> <%= 'posts-disabled' if like_value == 1 %>"
            data-action='click->posts#<%= like_value == -1 ? 'unliked': 'liked'%>'
            post-id="<%= post.id %>"
            id="dislike-<%= post.id %>"
            btn-type='dislike'
          ></i>
        </div>
      </div>
    </div>
  </div>
</div>
