<div id='sidebar' data-controller='sidebar' class='sidebar border border-top-0 border-bottom-0 shadow-sm' style='max-height: 700px'>
  <button id='sidebar-expander' data-action='click->sidebar#toggle_sidebar' class='side-bar-expand'>
    <i class="fa-solid fa-angles-right floatable"></i>
  </button>

  <a href='/' class='list-group-item p-2 py-3 <%= active == 'landing' ? 'list-group-item-info side-bar-active' : 'side-bar-inactive' %>' data-action='sidebar#reset_page'>
    <i class="fa-solid fa-house fa-xl"></i>

    <span class='hidden-when-collapsed' hidden>Home</span>
  </a>

  <a href='<%= home_personel_path %>' class='list-group-item p-2 py-3 <%= active == 'personel' ? 'list-group-item-info side-bar-active' : 'side-bar-inactive' %>' data-action='sidebar#reset_page'>
      <i class="fa-solid fa-user fa-xl" style='margin-left: 2px'></i>

      <span class='hidden-when-collapsed' hidden>Personel</span>
  </a>

  <a href='<%= home_profile_path %>' class='list-group-item p-2 py-3 <%= active == 'profile' ? 'list-group-item-info side-bar-active' : 'side-bar-inactive' %>' data-action='sidebar#reset_page'>
    <i class="fa-regular fa-id-card fa-xl"></i>

    <span class='hidden-when-collapsed' hidden>Profile</span>
  </a>

  <a href='<%= home_notifications_path %>' class='list-group-item p-2 py-3 <%= active == 'notifications' ? 'list-group-item-info side-bar-active' : 'side-bar-inactive' %>' data-action='sidebar#reset_page'>
    <i class="fa-regular fa-bell fa-xl" style='margin-left: 2px'></i>
  
    <span class='hidden-when-collapsed' hidden> Notifications </span>
  
    <span id='notification-count' class='notices-notification-count'><%= @notifications.where(seen: false, kind: Notification::VALID_NOTIFICATIONS).count == 0 ? '' : @notifications.where(seen: false, kind: Notification::VALID_NOTIFICATIONS).count  %></span>
  </a>

  <a href='<%= home_friends_list_path %>' class='list-group-item p-2 py-3 <%= active == 'friends' ? 'list-group-item-info side-bar-active' : 'side-bar-inactive' %>' data-action='sidebar#reset_page'>
    <i class="fa-regular fa-address-book fa-xl" style='margin-left: 2px'></i>

    <span class='hidden-when-collapsed' hidden>Friends list</span>
  </a>

  <a href='<%= home_chats_path %>' class='list-group-item p-2 py-3 <%= active == 'chats' ? 'list-group-item-info side-bar-active' : 'side-bar-inactive' %>' data-action='sidebar#reset_page'>
    <i class="fa-regular fa-comments fa-xl" style='margin-left: 2px'></i>

    <span class='hidden-when-collapsed' hidden>Friends list</span>
  </a>
</div>
