<%= render 'homepage', active: 'profile' do %>
  <h1>Profile</h1>
  
  <%= form_for current_user.user_detail do |f| %>
    <div>
      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: 'mx-5'%>
    </div>
    <div>
      <%= f.submit :Save, class: 'mt-2 btn btn-outline-success' %>
    </div>
  <% end %>
<% end %>
