<!DOCTYPE html>
<html>
  <head>
    <title>Actchat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/navbar'%>

    <% if flash[:notice].present? %>
      <p class="alert alert-info notices-fadeout"><%= notice %></p>
    <% elsif flash[:alert].present? %>
      <p class="alert alert-danger notices-fadeout"><%= alert %></p>
    <%end%>

    <%= yield %>
  </body>
</html>
